@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
  --color: #682960;
  --width: 750px;
}

body {
  /* margin: 0; */
  font-family: 'Mulish', sans-serif;
  color: #757575;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: rgb(241, 241, 241); */
  background: #000;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    /* color: #fff; */
}

.navbar{
  position: relative;
  display: grid;
  margin: 10px auto;
  max-width: var(--width);
  background: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow:
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}

.navbar:before{
  content: '';
  background: var(--color);
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}

.navbar ul li{
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

.navbar ul li h1, .navbar ul li p{
  line-height: 20%;
}

.tasks-list{
  position: relative;
  /* margin: 10px auto; */
  max-width: var(--width);
  height: 270px;
  background: #fff;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow:
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}

.tasks-list:before{
  content: '';
  background: var(--color);
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}
.App{
  display: flex;
  flex-flow: row;
}

.add-task{
  position: relative;
  /* margin: 0 auto; */
  /* margin: 30px; */
  max-width: var(--width);
  background: #000;
  border: 2px solid #757575;
  border-radius: 10px;  
  padding: 5px 10px;
  /* box-shadow: */
  /* 6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028), */
  /* 22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), */
  /* 100px 100px 80px rgba(0, 0, 0, 0.07); */
}

.add-task:before{
  content: '';
  /* background: var(--color); */
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}

.add-task h1{
  margin: 10px 15px;
  padding-left: 10px;
  font-weight: 900;
}

.add-task h1 svg{
  color: var(--color);
  font-size: 24px;
}

.add-task label,
.add-task button,
.add-task input{
  display: block;
}

.add-task .task-options{
  margin: 10px 0px;
}

.add-task .task-options li{
  list-style: none;
  margin: 10px 0px;
}
.input_name{
  background: black;
  border: 2px solid #757575;
    border-radius: 5px;
    font-size: 20px;
    color: #757575;
    padding: 5px 15px;
  width: 250px;
  height: 40px;
}
.input_age{
  background: black;
  border: 2px solid #757575;
    border-radius: 5px;
    font-size: 20px;
    color: #757575;
    padding: 5px 15px;
  width: 250px;
  height: 40px;
  /* background-repeat: no-repeat; */
  /* background-position: right center;  */
  /* background-image: url(./images/arrow_up_icon_184269.png); */

}
.input_age::-webkit-inner-spin-button,
.input_age::-webkit-outer-spin-button {
  /* background-color: #b80505; */
  /* background-position: right center; */
  height: 30px;
  padding: 0.5rem;
  /* padding-right: 2rem; */
  opacity: 1;
}
.input_body{
  background: black;
  border: 2px solid #757575;
    border-radius: 5px;
    font-size: 20px;
    color: #757575;
    padding: 5px 15px;
  width: 285px;
  height: 50px;
}
.input_check{
    font-size: 20px;
    padding: 5px 15px;
  display: flex;
  width: 253px;
}
.button_insert{
  background: black;
  border: 2px solid #757575;
    border-radius: 5px;
    font-size: 20px;
    color: #757575;
    padding: 5px 15px;
  width: 285px;
  height: 50px;
}

.add-task .task-options textarea{
  outline: none;
  border: 1px solid var(--color);
  border-radius: 5px;
  font-size: 20px;
  cursor: text;
  padding: 5px 15px;
  max-width: 400px;
  max-height: 200px;
}


.tasks-list{
  background: #000;
  overflowY: scroll;
  scrollbarWidth: 'thin';
  scrollbarColor: #757575;
  /* margin: 30px; */
}
.tasks-list .task{
  display: flex;
  position: relative;
  border: 1px solid var(--color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  /* margin: 25px 10px; */
  padding: 5px 10px;
  max-width: 900px;
  vertical-align: top;
	-webkit-flex: 1 5 auto;
	-moz-flex: 1 5 auto;
	flex: 1 5 auto;
	align-self: auto;
}

.tasks-list .task input[type="text"], .tasks-list .task textarea{
  outline: none;
  border: 1px solid var(--color);
  border-radius: 5px;
  font-size: 14px;
  cursor: text;
  padding: 5px 15px;
  max-width: 150px;
  max-height: 100px;
  margin: 5px 0px;
}
.container_all{
  border: 2px solid #757575;
  border-radius: 10px;
}
.header{
  align-items: center;
  margin-left: 30px;
  width: 710px;
  height: 30px;
  display: flex;
  background: #383333;
  border-radius: 7px;
}
.header_h41{
  margin: 0  0 0 50px;
  width: 160px;
}
.header_h42{
  margin: 0;
  width: 50px;
}
.header_h43{
  margin: 0;
  width: 130px;
}
.header_h44{
  margin: 0;
  width: 100px;
}
.tasks-list .task-container{
  background: #000;
  margin: 10px 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	justify-content:center;
	-webkit-align-items: center;
	align-items:center;
	-webkit-align-content: center;
	align-content:center;
}

.content_h41{
  margin: 0;
  width: 200px;
}
.content_h42{
  margin: 0;
  width: 50px;
}
.content_h43{
  margin: 0;
  width: 150px;
}
.content_h44{
  margin: 0;
  width: 100px;
}
.tasks-list h1{
  margin: 10px 15px;
  padding-left: 10px;
  font-weight: 900;
}

.tasks-list h1 svg{
  color: var(--color);
  font-size: 24px;
}

.tasks-list .task h2{
  word-wrap: break-word;
  margin: 0;
}

.tasks-list .task p{
  margin: 0;
}

.tasks-list .task button{
  height: 20px;
  background: var(--color);
  color: #fff;
  border: none;
  /* padding: 5px 15px; */
  border-radius: 10px;
  cursor: pointer;
  /* margin-bottom: 15px; */
  margin-left: 5px;
}

.tasks-list .task .small-text{
  color: var(--color);
  font-weight: 700;
  margin-top: 10px;
}

.tasks-list .task .task-content{
  display: flex;
  align-items: center;
  margin: 0px 10px;
  font-style: italic;
  line-height: 100%;
  word-wrap: break-word;
}

.tasks-list .task .completed{
  background: var(--color);
  position: absolute;
  top: -21px;
  left: -1px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0px 10px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  z-index: 2;
}

.tasks-list .task .completed input{
  display: none;
}

.tasks-list .task .completed label{
  cursor: pointer;
}

.tasks-list .task .completed label span{
  font-weight: 900;
}

.tasks-list .task .completed label .todo{
  color: rgb(252, 255, 66);
}

.tasks-list .task .completed label .complete{
  color: rgb(69, 240, 35);
}

.task-newcontent{
  max-width: 200px;
  max-height: 100px;
}

.delete-btn{
  background: rgb(211, 76, 76) !important;
}
